*{
    /* background-color: aqua; */
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: #FAEBD7;
}

.nav-bar{
    background-color: black;
    width: 100%;
    height: 65px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}   
.icon{
    background-color: black;
}
#logo-spotify{
    width: 45px;
    height: 44px;
    background-color: black;
    margin: 10px 0px 5px 19px;
}
#nav-heading, .nav-Home, .nav-About{
    color: white;
}
#nav-heading{
    font-size: 21px;
    font-weight: 600;
    margin-left: 8px;
    background-color: black;
    margin-right: 12px;
}
.nav-Home, .nav-About{
    font-size: 16px;
    background-color: black;
    padding: 12px;
}